.ant-table-cell-common() {
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    padding: 4px;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.ant-table .table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;

    >.ant-table-thead {
        display: flex;
        align-items: center;

        >.ant-table-cell {
            background-color: #fafafa;
            color: rgba(0, 0, 0, .85);
            font-weight: 500;
            background: #fafafa;
            display: flex;
            justify-content: center;
            align-items: center;

            .ant-table-cell-common
        }

        >.ant-table-cell.ant-table-selection-column {
            height: 100%;
            text-align: center;
            position: relative;

            >.table-selection-extra {
                position: absolute;
                right: 0;

                .anticon {
                    color: rgb(191, 191, 191);  
                }
            }
        }
    }

    >.ant-table-tbody div>.table-row {
        display: flex;
        align-items: center;
        .ant-table-cell {
            height: 100%;
            overflow: hidden;
            .ant-table-cell-common
        }

        .ant-table-cell.ant-table-selection-column {
            text-align: center;
        }
    }

    >.ant-table-tbody div>.table-row:hover {
        background-color: #fafafa;
    }
}

//垂直居中
.row-vertical {
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}